@import '../../../../../src/assets/styles/_variables';
@import '../../../../../src/assets/styles/mixins';

.favorite {
  padding-top: 50px;
  padding-bottom: 110px;
  .container {
    .favorite-title {
      @include head-lora-36;
      color: $base-text-color;
      margin-bottom: 35px;
    }

    .favorite-empty {
      margin-top: 20px;
      margin-bottom: 100px;
      div {
        font-size: 16px;
        color: $base-text-color;
      }
      .button {
        width: 255px;
        margin-top: 10px;
      }
    }

    .favorite-products {
      .favorite-product {
        padding-top: 15px;
        margin-top: 15px;
        border-top: $border-color-catalog-filter;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:first-child {
          padding-top: 0;
          margin-top: 0;
          border-top: 0;
        }
        .favorite-product-image {
          background-position: center;
          background-size: cover;
          width: 100px;
          height: 100px;
          border-radius: 5px;
        }
        .favorite-product-name {
          margin-left: 24px;
          font-size: 20px;
          color: $base-text-color;
          width: 567px;
          margin-right: 20px;
        }
        .favorite-product-price {
          margin-left: 69px;
          width: 100px;
          margin-right: 19px;
          font-weight: 600;
          font-size: 22px;
          color: $base-text-color;
        }
        .favorite-product-action {
          .button {
            width: 160px;
          }
        }
        .favorite-product-remove {
          margin-left: 61px;
          cursor: pointer;
        }
      }
    }
  }
}
