@import '../../../../../src/assets/styles/_variables';
@import '../../../../../src/assets/styles/mixins';
@import '../../../../../src/assets/styles/personal';
@import '../../../../../src/assets/styles/data-form';

.info {
  padding-top: 50px;
  padding-bottom: 128px;
  position: relative;
  overflow: hidden;
  .container {
    .data-form {
      .button {
        width: 169px;
      }
    }
  }
  .page-image {
    position: absolute;
    bottom: 0;
    right: calc(50% - 700px);
    z-index: -1;

    img {
      vertical-align: bottom;
    }
  }
}
