<div class="order">
  <div class="container">

    <div class="order-title">
      Оформление вашего заказа
    </div>

    <div class="order-info">
      <div class="order-form">

        <div class="order-form-block">
          <div class="order-form-label">
            Выберите способ доставки
          </div>
          <div class="order-form-types">
            <div class="order-form-type-item active">Курьером</div>
            <div class="order-form-type-item">Самовывоз</div>
          </div>
        </div>

        <div class="order-form-block">
          <div class="order-form-label">
            Заполните личные данные
          </div>
          <div class="order-form-inputs personal-data-inputs">
            <input type="text" class="input" placeholder="Фамилия">
            <input type="text" class="input" placeholder="Имя">
            <input type="text" class="input" placeholder="Отчество">
            <input type="text" class="input" placeholder="Телефон">
            <input type="text" class="input" placeholder="E-mail">
          </div>
        </div>

        <div class="order-form-block">
          <div class="order-form-label">
            Заполните адрес доставки
          </div>
          <div class="order-form-inputs address-inputs">
            <input type="text" class="input street" placeholder="Улица">
            <input type="text" class="input house" placeholder="№ дома">
            <input type="text" class="input entrance" placeholder="Подъезд">
            <input type="text" class="input apartment" placeholder="№ квартиры">
          </div>
        </div>

        <div class="order-form-block">
          <div class="order-form-label">
            Выберите способ оплаты
          </div>
          <div class="order-form-radio">
            <div class="order-form-radio-block">
              <input type="radio" id="card">
              <label for="card">Оплата банковской картой в интернет-магазине</label>
            </div>
            <div class="order-form-radio">
              <div class="order-form-radio-block">
                <input type="radio" id="cashless">
                <label for="cashless">Безналичный расчет при получении</label>
              </div>
              <div class="order-form-radio">
                <div class="order-form-radio-block">
                  <input type="radio" id="cash">
                  <label for="cash">Наличный расчет при получении</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="order-form-block">
          <div class="order-form-label">
            Комментарий к заказу (необязательно)
          </div>
          <div class="order-form-inputs">
            <textarea cols="30" rows="5" class="input" placeholder="Оставьте свой комментарий..."></textarea>
          </div>
        </div>

      </div>
      <div class="order-details">
        <div class="order-details-info">
          <div class="order-details-info-title">Ваш заказ</div>
          <div class="order-details-info-item">
            <div class="order-details-info-item-text">Товаров:</div>
            <div class="order-details-info-item-data">4</div>
          </div>
          <div class="order-details-info-item">
            <div class="order-details-info-item-text">Общая стоимость:</div>
            <div class="order-details-info-item-data">147 BYN</div>
          </div>
          <div class="order-details-info-item">
            <div class="order-details-info-item-text">Стоимость доставки:</div>
            <div class="order-details-info-item-data">147 BYN</div>
          </div>
          <div class="order-details-info-item">
            <div class="order-details-info-item-text">Итоговая стоимость:</div>
            <div class="order-details-info-item-data">147 BYN</div>
          </div>
        </div>
        <button class="button">Подтвердить заказ</button>
      </div>
    </div>


  </div>
</div>



