<div class="orders">
  <div class="container">

    <div class="personal-title">
      Личный кабинет
    </div>
    <div class="personal-pages-selector">
      <div class="personal-page" routerLink="/profile">
        Личные данные
      </div>
      <div class="personal-page active">
        Ваши заказы
      </div>
    </div>

    <div class="orders-title">
      Ваши заказы
    </div>
    <div class="orders-title-additional">
      Здесь отображается история ваших заказов.
    </div>

    <div class="orders-list">
      <div class="orders-list-item">

      </div>
    </div>



  </div>
</div>



