$container-width: 1240px;

$border-color: 1px solid #C5C5C5;
$border-color-card: 1px solid #C7C7C7;
$border-color-active: 1px solid #202B21;
$border-color-input: 2px solid #2A592E;
$border-color-input-small: 1px solid #6CAC72;
$border-color-catalog-filter: 1px solid #E7F1E8;
$border--color-catalog-filter-body: 1px solid #B6D5B9;
$border--color-cart-top: 1px solid #EBEBEB;
$border--color-orders: 1px solid #519157;
$border--color-orders-status: 1px solid #456F49;


$base-text-color: #202B21;
$base-text-color-footer: #2C2C2C;
$main-title: #2A592E;
$detail-info-params-price-color: #313131;
$orders-text-color: #ADADAD;
$orders-text-status: #456F49;

$base-bg-color: #B6D5B9;
$background-color: #648F64;
$background-color-offers: #A4CBA3;
$background-color-catalog-sorting-body: #F5F5F5;
$background-color-orders: #519157;
$background-color-orders-details: #E7F1E8;
$background-color-radio: #2A592E;

$a-text-color: #519057;
$a-text-color-card: #9AA89B;
$text-color-catalog-sorting-body: #BEBEBE;



$base-button: #456F49;
